/* https://material.io/color/#!/?view.left=0&view.right=0&primary.color=DE0000&secondary.color=FFBA00 */

* {
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Lobster', cursive; */
}

.row_center {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

.color_example {
    height: 40px;
    width: 40px;
    border-radius: 100px;
}

/* Colors */

.bg_primary {
    background-color: #de0000;
}

.bg_primary_light {
    background-color: #ff5332;
}

.bg_primary_dark {
    background-color: #a30000;
}

.bg_secondary {
    background-color: #ffba00;
}

.bg_secondary_light {
    background-color: #ffec4d;
}

.bg_secondary_dark {
    background-color: #c78a00;
}

.text_primary {}

.text_primary_light {}

.text_primary_dark {}

.card-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}